doctype html
html
	head
		title #{title}
	body
		h1 Hello #{header}
		form(method="post",enctype="multipart/form-data",action="/upload")
			p
				input(type="text",name="Description",placeholder="title")
			p
				input(type="file",name="upl")
			p
				input(type="submit")